<!-- DMしているユーザー一覧 ------------------------------------------------------------------>
<aside class="col-md-4">
    <section class="message_box">
      <div id="messages">
        <%= render 'users/messages/message', message: @messages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>
    <div class="message_form">
     <%= render 'users/messages/message_form',
       {from_user: current_user, to_user: @user, room_id: @room_id} %>
    </div>
  <!--% end %-->
</aside>