
<!--フォローしている人の名前の一覧の画面 -->
<section class="container wear-edit">
 	<div class="row edit-row">
 		<div class="col-6 offset-3">
 			<h2 class="edit-title">フォロー一覧</h2>
				<% @user.following.each do |user| %>
					<table class="table table-striped">
						<tr>
  							<td>  <%= user.name %> </td>
  							<td><%= link_to '詳細', users_user_path(user) %></td>
						</tr>
					</table>
				<% end %>
		</div>
	</div>
</section>