
<!--フォローしている人の名前の一覧の画面 -->
<section class="container">
 	<div class="row edit-row">
 		<div class="col-6 offset-3 content_box">
 			<h2 class="text-center">フォロー一覧</h2>
 			<hr>
				<% @user.following.each do |user| %>
					<table class="table table-striped">
						<tr>
  							<td><%= user.name %></td>
  							<td><%= link_to '詳細', users_user_path(user) %></td>
						</tr>
					</table>
				<% end %>
		</div>
	</div>
</section>