<!-- 検索フォーム(ヘッダーに記載) ------------------------------------------------------------------>
<div class="search-btn">
		<div class="search-form">
			<%= form_tag(users_search_path, :method => 'get') do %>
			    <form id="search_form_area" method="get">
			    	<%= text_field_tag :search, params[:search], class: "form-control", id: "search_area", placeholder: "タイトルを入力"%>
					<button type="submit" id="sbtn_submit"><i class="fas fa-search search-icon2"></i></button>
				</form>
			<% end %>
			<i class="fa fa-times" id="hide"></i>
		</div>
</div>