<section class="container clearfix">
	<h1 class="text-center">コーヒーを探す</h1>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="taist">
				<div class="refresh_box1">
					<a class="js-modal-open1" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal1">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	<% if @taist1.exists? %>
						    	<% @taist1.each do |taist| %>
						    		<% taist.items. each do |item| %>
						    			<%= item.name %>
						    		<% end %>
						    	<% end %>
						    <% else %>
						    	アイテムがありません
						    <% end %>
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="refresh_box2">
					<a class="js-modal-open2" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal2">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	22222
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="refresh_box3">
					<a class="js-modal-open3" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal3">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	3333
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="refresh_box4">
					<a class="js-modal-open4" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal4">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	44444
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="bitter_box1">
					<a class="js-modal-open5" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal5">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	55555
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="bitter_box2">
					<a class="js-modal-open6" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal6">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	666666
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="bitter_box3">
					<a class="js-modal-open7" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal7">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	7777777
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="bitter_box4">
					<a class="js-modal-open8" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal8">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	88888888
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="body_box1">
					<a class="js-modal-open9" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal9">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	9999999
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="body_box2">
					<a class="js-modal-open10" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal10">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	10101010101
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="body_box3">
					<a class="js-modal-open11" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal11">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	111111
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="body_box4">
					<a class="js-modal-open12" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal12">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	121212
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="fruity_box1">
					<a class="js-modal-open13" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal13">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	13131313
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="fruity_box2">
					<a class="js-modal-open14" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal14">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	14141414
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="fruity_box3">
					<a class="js-modal-open15" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal15">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	1515151
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
				<div class="fruity_box4">
					<a class="js-modal-open16" href=""><i class="fas fa-coffee"></i></a>
					<div class="modal js-modal16">
						<div class="modal__bg js-modal-close"></div>
					    <div class="modal__content">
					    	1616161
					    	<a class="js-modal-close pull-right" href="">❌</a>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>