<!-- お問い合せメール本文(mail) ------------------------------------------------------------------>
 <h2><%= @user.name %> 様</h2>
　<p>この度は、お問い合わせありがとうございました。<br>
　以下でご質問の回答となっておりますでしょうか。</p>

  <p><%= @answer %></p>

  <p>今後とも Find Your Best Coffee をよろしくお願いいたします。</p>