// Place all the styles related to the users::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .top_back {
// 	background-image: url(image-path("coffee19.jpg"));
// 	background-size: cover;
//     background-position: center;
// 	height: 750px;
// 	position: relative;
// }

.home-body {
    background-image: url(image-path("back8.jpg"));
    background-size: cover;
    background-position: center;
}
.top_image {
  	width: 100%;
    padding: 81px 20px 20px;
    position: relative;
}
.top_comment_text {
	position: absolute;
    right: 28%;
    top: 52%;
    color: white;
    border: solid 5px;
    padding: 10px;
    border-radius: 11px;
    font-size: 54px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.top_comment_text:hover {
  // transform: rotateX(360deg);
  	-webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.fa-ellipsis-v {
    font-size: 30px;
    left: 3%;
    top: 287px;
    position: fixed;
}
.chart {
	position: relative;
    display: flex;
    margin-top: 50px;
}
.chart_left {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    margin: 56px;
    margin-left: 101px;
    .top {
        font-size: 65px;
    }
    .middle {
        margin-top: 30px;
    }
    .bottom {
        margin-top: 30px;
    }

}
// .fadeIn {
//     transform: translate3d(0, -10px, 0);
//     transition: 1s;
//     opacity: 0;
// }

// .fadeIn.animated {
//     transform: translate3d(0, 0, 0);
//     opacity: 1;
// }
.fadeIn {
  opacity : 0;
  transform: translateY(20px);
  transition: 1s;
}
.chart_right_img {
    margin-left: 192%;
    margin-top: 34%;
    width: 383px;
    height: 561px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.chart_right_img:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.map {
    position: relative;
    display: flex;
    margin-top: 50px;
}
.map_left_img {
    margin-left: 52%;
    margin-top: 34%;
    width: 383px;
    height: 561px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.map_left_img:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.map_right {
    flex-direction: row-reverse;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 44%;
    margin: 56px;
    margin-left: 101px;
    .top {
        font-size: 65px;
    }
    .middle {
        margin-top: 30px;
    }
    .bottom {
        margin-top: 30px;
    }

}
.index {
    position: relative;
    display: flex;
    margin-top: 145px;
}
.index_left {
    margin-left: 187px;
    padding-top: 154px;
    padding-right: 50px;
}
.top_item_index {
    width: 29%;
    float: left;
    border: 1px solid #eee;
    text-align: center;
    padding: 20px 0;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.top_item_index:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.information {
    padding-top: 130px;
}
.information ul {
    width: 800px;
    margin: 7% auto;
    display: flex;
    // justify-content: space-between;
}
.information li {
width: 250px;
}
.information_icon1 {
    border-radius: 50%;
    border: 1px solid #c0c0c06b;
    cursor : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.information_icon1:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.information_icon2 {
    border-radius: 50%;
    border: 1px solid #c0c0c06b;
    cursor : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.information_icon2:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.information_icon3 {
    border-radius: 50%;
    border: 1px solid #c0c0c06b;
    cursor : pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.information_icon3:hover {
  // transform: rotateX(360deg);
    // transform: perspective(800px) translateZ(50px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.information_list1 {
margin-right: 101px;
}
.information_list3 {
margin-left: 101px;
}
.information_text1 {
    text-align: center;
    margin-top: 10px;
}
.information_text2 {
    text-align: center;
    margin-top: 10px;
}
.information_text3 {
    text-align: center;
    margin-top: 10px;
}
.information_none1 {
    text-align: center;
    margin-top: 10px;
    display: none;
}
.information_none2 {
    text-align: center;
    margin-top: 10px;
    display: none;
}
.information_none3 {
    text-align: center;
    margin-top: 10px;
    display: none;
}
.text-active {
    display: block;
}
.home {
    margin: 50px;
}
















