// Place all the styles related to the users::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .top_back {
// 	background-image: url(image-path("coffee19.jpg"));
// 	background-size: cover;
//     background-position: center;
// 	height: 750px;
// 	position: relative;
// }
.top_image {
  	width: 100%;
    padding: 81px 20px 20px;
    position: relative;
}
.top_comment_text {
	position: absolute;
    right: 28%;
    top: 52%;
    color: white;
    border: solid 5px;
    padding: 10px;
    border-radius: 11px;
    font-size: 54px;
}