// Place all the styles related to the users::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//item_index-----------------------------------------------------------------
.item_index_row{
  margin: 50px;
}
.item_index_row1{
	margin: 50px;
}
.item_index_row2{
  margin: 50px;
}
.item_index_row3{
  margin: 50px;
}
.item_box {
	margin-top: 20px;
}
.item_title_media {
  display: none;
}
// .item_title {
//   border-bottom: solid 3px #cce4ff;
//   position: relative;
// }
// .item_title:after {
//   position: absolute;
//   content: " ";
//   display: block;
//   border-bottom: solid 3px #5472cd;
//   bottom: -3px;
//   width: 20%;
// }
.item_index {
	width: 22%;
	float: left;
	border: 1px solid #eee;
	text-align: center;
	padding: 20px 0;
	margin-right: 30px;
	margin-bottom: 30px;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.item_index:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.coffee_opinion {
	display: block;
	margin: 10px;
}
.profile-img-circle{
	border: 1px solid #eee;
	border-radius: 50%;
}
.item-like {
	margin-top: 4px;
}
.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #ff5722;
  color: #FFF;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #ff5722;
  border: dashed 1px #FFF;
  transition: .4s;
  position:fixed;
  right:50px;
  bottom:50px;
}

.btn-circle-stitch:hover {
  background: #ff5722d9;
  box-shadow: 0px 0px 0px 5px #ff5722d9;
}

.item_box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.item_box1 h2 h6 {
    margin: 0;
    padding: 0;
}
.item_box1_hover {
  -webkit-transition: all .3s;
    transition: all .3s;
}
.item_box1_hover:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.item_box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.item_box2 h2 h6 {
    margin: 0;
    padding: 0;
}
.item_box2_hover {
  -webkit-transition: all .3s;
    transition: all .3s;
}
.item_box2_hover:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.item_box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.item_box3 h2 {
    margin: 0;
    padding: 0;
}
.item_box3_hover {
  -webkit-transition: all .3s;
    transition: all .3s;
}
.item_box3_hover:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.item_box4 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.item_box4 h2 {
    margin: 0;
    padding: 0;
}
.item_box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.item_box5 h2 {
    margin: 0;
    padding: 0;
}


//item_show------------------------------------------------------------
.show-container {
  background-color: white;
  padding: 50px;
  margin: 50px 0px;
}
.item-show-container {
  background-color: white;
  padding: 50px;
  margin: 50px 0px;
  position: relative;
}
.center-block {
	margin-left: 97px;
}
.title {
	border-bottom: solid 1px #9d9d9d;
	font-size: 20px;
}
.opinion {
	margin-top: 10px;
}
.comment-container {
	margin-bottom: 10px;
}
canvas {
  display: block;
  width: 1200px;
  height: 600px;
}
.comment-box {
	padding-left: 65px;
    border: solid 1px #C0C0C0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1060px;
    position: relative;
}
.comment-avatar {
	position: absolute;
    left: 22px;
}
.comment-text {
	margin-left: 10px;
    margin-top: 5px;
}
.comment-date {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #C0C0C0;
}
.comment-create {
	margin-bottom: 15px;
}
.comment-submit {
	margin-bottom: 15px;
}
.comment-image {
	border-radius: 50%;
}
.comment_destroy {
	margin-left: 20px;
}
.input-mysize {
  width: 1060px;
  border: solid 1px black;
}
.mypage_list {
  display: flex;
}
.more {
  color: #6c757d;
  margin: 16px
}
.zone_img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 30px;
  top: 254px;
}
// .comment {
//   display: none;
// }
.more {
  display: block;
  cursor :pointer;
}
#menu_bar01 {
    display: none;
}
#links01 {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#menu_bar01:checked ~ #links01  {
    height: 54px;
    opacity: 1;
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  //index-------------------------------------------------//
  .item_box1 {
   display: none;
  }
  .item_box2 {
   display: none;
  }
  .item_box3 {
   display: none;
  }
  .item_box_2 {
    display: none;
  }
  .item_box_3 {
    display: none
  }
  .item_index {
    float: none;
    width: 100%;
    position: relative;
    height: 307px;
  }
  .item_index_media_user {
    position: absolute;
    height: 36px;
    top: -259px;
    left: -101px;
    margin-top: 10px;
  }
  .btn-circle-stitch {
    display: none;
  }
  .coffee_image_media {
    position: relative;
    top: 36px;
  }
  .coffee_opinion {
    position: absolute;
    display: block;
    margin-top: 13px;
    top: 243px;
    left: 124px;
    margin-bottom: 10px;
  }
  .item-like {
    position: absolute;
    top: 24px;
    right: -135px;
  }
  .item_title_media {
    display: block;
  }
  .item_index_row1 > #item_index_new > .item_index > .row > .item_index_media_user {
    width: 30px;
    height: 30px;
  }
  //show-------------------------------------------------//
  .item-show-container {
    padding: 0;
  }
  .item-show-container > .row {
    margin: 0;
  }
  .item-show-container > .row ul {
    width: 100%;
  }
  .item-show-container > .row > .media_image {
    padding-left: 63px;
  }
  .center-block {
    margin-left: 0;
  }
  .text-left {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .has-rader {
    width: 100vw;
    overflow-x: hidden;
  }
  canvas {
    width: 190vw!important;
    height: 95vw!important;
    -webkit-transform: translateX(-22.5%);
       -moz-transform: translateX(-22.5%);
        -ms-transform: translateX(-22.5%);
         -o-transform: translateX(-22.5%);
            transform: translateX(-22.5%);
  }
  .input-mysize {
    width: 70vw!important;
  }
  .zone_img {
    display: none;
  }
  .item-show-container > .media_comment {
    padding: 10px;
  }
  .item-show-container > .media_rebyu {
    padding: 10px;
  }
  .profile_image.comment-image {
    margin: 0px;
    width: 30px;
    height: 30px;
  }
  .comment-submit {
    height: 50px;
  }
  .comment-box {
    width: 91vw;
  }
  .comment-date {
    bottom: 1px;
  }

}
















