//FIND(コーヒーマップ:users/items/research)------------------------------------------------------------------------------
//背景画像
.research_back {
    background-image: url(image-path("coffee14.jpg"));
    background-size: cover;
    background-position: center;
}
//コーヒーマップの使い方の?マーク
.fa-question-circle {
    position: absolute;
    left: 991px;
    top: 647px;
    font-size: 30px;
}
//コーヒーマップ全体
.research_box {
    margin: 253px 295px 80px auto;
    position: relative;
}
//コーヒーマップ全体:グリッド
#taist {
	display: grid;
	grid-template-rows: 160px 160px 160px 160px;
	grid-template-columns: 160px 160px 160px 160px;
}
//コーヒーマップ左上:左上:zoneA
.refresh_boxA {
    border: solid 1px #C0C0C0;
    grid-row: 1;
    grid-column: 1;
    background-color: #90735B;
    border-top: solid 2px black;
    border-left: solid 2px black;
    position: relative;
}
//コーヒーマップ左上:左上:zoneA:コーヒーカップ
.zoneA {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DEBB60;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneA:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左上:右上:zoneB
.refresh_boxB {
    border: solid 1px #C0C0C0;
    grid-row: 1;
    grid-column: 2;
    background-color: #90735B;
    border-top: solid 2px black;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ左上:右上:zoneB:コーヒーカップ
.zoneB {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DEBB60;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneB:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左上:右下:zoneC
.refresh_boxC {
    border: solid 1px #C0C0C0;
    grid-row: 2;
    grid-column: 1;
    background-color: #90735B;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ左上:右下:zoneC:コーヒーカップ
.zoneC {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DEBB60;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneC:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左上:右下:zoneD
.refresh_boxD {
    border: solid 1px #C0C0C0;
    grid-row: 2;
    grid-column: 2;
    background-color: #90735B;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ左上:右下:zoneD:コーヒーカップ
.zoneD {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DEBB60;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneD:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右上:左上:zoneE
.bitter_boxE {
	border: solid 1px #C0C0C0;
    grid-row: 1;
    grid-column: 3;
    background-color: #BB8E58;
    border-top: solid 2px black;
    position: relative;
}
//コーヒーマップ右上:左上:zoneE:コーヒーカップ
.zoneE {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DFC63D;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneE:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右上:右上:zoneF
.bitter_boxF {
	border: solid 1px #C0C0C0;
    grid-row: 1;
    grid-column: 4;
    background-color: #BB8E58;
    border-top: solid 2px black;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ右上:右上:zoneF:コーヒーカップ
.zoneF {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DFC63D;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneF:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右上:左下:zoneG
.bitter_boxG {
	border: solid 1px #C0C0C0;
    grid-row: 2;
    grid-column: 3;
    background-color: #BB8E58;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ右上:左下:zoneG:コーヒーカップ
.zoneG {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DFC63D;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneG:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右上:右下:zoneH
.bitter_boxH {
	border: solid 1px #C0C0C0;
    grid-row: 2;
    grid-column: 4;
    background-color: #BB8E58;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ右上:右下:zoneH:コーヒーカップ
.zoneH {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #DFC63D;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneH:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左下:左上:zoneI
.body_boxI {
	border: solid 1px #C0C0C0;
    grid-row: 3;
    grid-column: 1;
    background-color: #A26A50;
    border-left: solid 2px black;
    position: relative;
}
//コーヒーマップ左下:左上:zoneI:コーヒーカップ
.zoneI {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #E6C77C;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneI:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左下:右上:zoneJ
.body_boxJ {
	border: solid 1px #C0C0C0;
    grid-row: 3;
    grid-column: 2;
    background-color: #A26A50;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ左下:右上:zoneJ:コーヒーカップ
.zoneJ {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #E6C77C;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneJ:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左下:左下:zoneK
.body_boxK {
	border: solid 1px #C0C0C0;
    grid-row: 4;
    grid-column: 1;
    background-color: #A26A50;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ左下:左下:zoneK:コーヒーカップ
.zoneK {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #E6C77C;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneK:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ左下:右下:zoneL
.body_boxL {
	border: solid 1px #C0C0C0;
    grid-row: 4;
    grid-column: 2;
    background-color: #A26A50;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ左下:右下:zoneL:コーヒーカップ
.zoneL {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #E6C77C;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneL:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右下:左上:zoneM
.fruity_boxM {
	border: solid 1px #C0C0C0;
    grid-row: 3;
    grid-column: 3;
    background-color: #E5B777;
    position: relative;
}
//コーヒーマップ右下:左上:zoneM:コーヒーカップ
.zoneM {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #C8D056;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneM:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右下:右上:zoneN
.fruity_boxN {
	border: solid 1px #C0C0C0;
    grid-row: 3;
    grid-column: 4;
    background-color: #E5B777;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ右下:右上:zoneN:コーヒーカップ
.zoneN {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #C8D056;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneN:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右下:左下:zoneO
.fruity_boxO {
	border: solid 1px #C0C0C0;
    grid-row: 4;
    grid-column: 3;
    background-color: #E5B777;
    border-bottom: solid 2px black;
    position: relative;
}
//コーヒーマップ右下:左下:zoneO:コーヒーカップ
.zoneO {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #C8D056;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneO:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
//コーヒーマップ右下:右下:zoneP
.fruity_boxP {
	border: solid 1px #C0C0C0;
    grid-row: 4;
    grid-column: 4;
    background-color: #E5B777;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    position: relative;
}
//コーヒーマップ右下:右下:zoneP:コーヒーマップ
.zoneP {
    position: absolute;
    font-size: 70px;
    top: 28%;
    left: 25%;
    color: #C8D056;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.zoneP:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.content{
    padding: 20px 0px 0px 0px;
}
//コーヒーカップクリックでモーダル表示
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
//モーダル閉じるxボタン
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
//モーダル内の内容
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
//モーダル内のコーヒーマップの図
.coffee_map_zone_img {
    width: 200px;
    height: 200px;
}
//スッキリ
.research-title-top {
    position: absolute;
    top: -41px;
    left: 278px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
}
//フルーティ
.research-title-left {
    position: absolute;
    top: 301px;
    left: -123px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
}
//ビター
.research-title-right {
    position: absolute;
    top: 300px;
    left: 656px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
    width: 90px;
}
//コク
.research-title-bottom {
    position: absolute;
    top: 639px;
    left: 300px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 ---------------------------------------------*/
@media screen and (max-width:425px) {
     //FIND--------------------------------------------------------------------------------
     //コーヒーマップ全体
      .research_box {
        margin: 80px 65px 29px 76px;
      }
      //コーヒーマップ全体:グリッド
      #taist {
        grid-template-rows: 50px 50px 50px 50px;
        grid-template-columns: 50px 50px 50px 50px;
      }
      //スッキリ
      .research-title-top {
        top: -16px;
        left: 79px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 14px;
      }
      //ビター
      .research-title-right {
        top: 90px;
        left: 204px;
        font-size: 14px;
      }
      //コク
      .research-title-bottom {
        top: 200px;
        left: 89px;
        font-size: 14px;
      }
      //フルーティ
      .research-title-left {
        top: 91px;
        left: -63px;
        font-size: 14px;
      }
      .research_modal_media {
        font-size: 11px;
      }
      .research_prof {
        margin: 0;
        width: 15px;
        height: 15px;
      }
      .fa-question-circle {
        top: 14%;
        left: 34%;
      }
     //コーヒーカップクリックでモーダル表示
      .modal{
        width: 100vw;
      }
      //モーダル閉じるxボタン
      .modal__bg{
        height: 100vh;
        position: absolute;
        width: 100%;
      }
      //モーダル内の内容
      .modal__content{
        background: #fff;
        left: 52%;
        padding: 0;
        position: absolute;
        top: 35%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 85vw;
	    font-size: 8px;
      }
      //モーダル内h2(選択エリアのコーヒー)
      .research_modal_media > h2 {
        font-size: 14px;
        margin-top: 10px;
      }
      //モーダル内p(ユーザー名・プロフィール画像)
      .research_modal_media > table > tbody > tr > td > a > p {
        font-size: 10px;
      }
      //モーダル内th
      .research_modal_media > table > thead > tr > th {
        font-size: 10px;
      }
      //モーダル内プロフィール画像
      .profile_image.profile-img-circle.find_prof_image_media {
        margin: 0;
        width: 20px!important;
        height: 20px!important;
      }
      //コーヒーマップ左上:左上:zoneA:コーヒーカップ
      .zoneA {
        font-size: 22px;
      }
      //コーヒーマップ左上:右上:zoneB:コーヒーカップ
      .zoneB {
        font-size: 22px;
      }
      //コーヒーマップ左上:右下:zoneC:コーヒーカップ
      .zoneC {
        font-size: 22px;
      }
      //コーヒーマップ左上:右下:zoneD:コーヒーカップ
      .zoneD {
        font-size: 22px;
      }
      //コーヒーマップ右上:左上:zoneE:コーヒーカップ
      .zoneE {
        font-size: 22px;
      }
      //コーヒーマップ右上:右上:zoneF:コーヒーカップ
      .zoneF {
        font-size: 22px;
      }
      //コーヒーマップ右上:左下:zoneG:コーヒーカップ
      .zoneG {
        font-size: 22px;
      }
      //コーヒーマップ右上:右下:zoneH:コーヒーカップ
      .zoneH {
        font-size: 22px;
      }
      //コーヒーマップ左下:左上:zoneI:コーヒーカップ
      .zoneI {
        font-size: 22px;
      }
      //コーヒーマップ左下:右上:zoneJ:コーヒーカップ
      .zoneJ {
        font-size: 22px;
      }
      //コーヒーマップ左下:左下:zoneK:コーヒーカップ
      .zoneK {
        font-size: 22px;
      }
      //コーヒーマップ左下:右下:zoneL:コーヒーカップ
      .zoneL {
        font-size: 22px;
      }
      //コーヒーマップ右下:左上:zoneM:コーヒーカップ
      .zoneM {
        font-size: 22px;
      }
      //コーヒーマップ右下:右上:zoneN:コーヒーカップ
      .zoneN {
        font-size: 22px;
      }
      //コーヒーマップ右下:左下:zoneO:コーヒーカップ
      .zoneO {
        font-size: 22px;
      }
      //コーヒーマップ右下:右下:zoneP:コーヒーマップ
      .zoneP {
        font-size: 22px;
      }
}







