// Place all the styles related to the users::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//item_index-----------------------------------------------------------------
.item_index_row{
  margin: 50px;
}
.item_index_row1{
	margin: 50px;
}
.item_index_row2{
  margin: 50px;
}
.item_index_row3{
  margin: 50px;
}
.item_box {
	margin-top: 20px;
}
.item_title_media {
  display: none;
}
.item_index {
	width: 22%;
	float: left;
	text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin:2em 16px;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.item_index:before, .item_index:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.item_index:before {left: 10px;}
.item_index:after {right: 10px;}
.item_index:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.item_index_media_user {
  margin-top: 18px;
}
.coffee_opinion {
	display: block;
	margin: 10px;
}
.profile-img-circle{
	border: 1px solid #eee;
	border-radius: 50%;
}
.item-like {
	margin-top: 24px;
}
.item_index_prof {
  margin-top: 18px;
}
.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #566473;
  color: #FFF;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #566473;
  border: dashed 1px #FFF;
  transition: .4s;
  position:fixed;
  right:50px;
  bottom:50px;
}

.btn-circle-stitch:hover {
  background: #212529;
  box-shadow: 0px 0px 0px 5px #212529;
}
.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}
.type1 {
    color:#566473;
}
.type1::after,
.type1::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}
.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
}
.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
}
.type1:hover:after,
.type1:hover:before {
    width: 100%;
    height: 100%;
}
.type1_link:hover {
  text-decoration: none;
}
.item_title {
  text-decoration: none;
}
.type2 {
    color:#566473;
}
.type2::after,
.type2::before {
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}
.type2::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #566473;
    border-right-color: #566473;
}
.type2::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #566473;
    border-left-color: #566473;
}
.type2:hover:after,
.type2:hover:before {
    width: 100%;
    height: 100%;
}
.type2_link:hover {
  text-decoration: none;
}


//item_show------------------------------------------------------------
.show-container {
  background-color: white;
  padding: 50px;
  margin: 50px 0px;
}
.item-show-container {
  background-color: white;
  padding: 50px;
  margin: 50px 0px;
  position: relative;
}
.center-block {
	margin-left: 97px;
}
.title {
	border-bottom: solid 1px #9d9d9d;
	font-size: 20px;
}
.opinion {
	margin-top: 10px;
}
.comment-container {
	margin-bottom: 10px;
}
canvas {
  display: block;
  width: 900px;
  height: 600px;
}
.comment-box {
	padding-left: 65px;
    border: solid 1px #C0C0C0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1060px;
    position: relative;
}
.comment-avatar {
	position: absolute;
    left: 22px;
}
.comment-text {
	margin-left: 10px;
    margin-top: 5px;
}
.comment-date {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #C0C0C0;
}
.comment-create {
	margin-bottom: 15px;
}
.comment-submit {
	margin-bottom: 15px;
}
.comment-image {
	border-radius: 50%;
}
.comment_destroy {
	margin-left: 20px;
}
.input-mysize {
  width: 1060px;
  border: solid 1px black;
}
.mypage_list {
  display: flex;
}
.more {
  color: #6c757d;
  margin: 16px
}
.zone_img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 30px;
  top: 254px;
}
// .comment {
//   display: none;
// }
.more {
  display: block;
  cursor :pointer;
}
#menu_bar01 {
    display: none;
}
#links01 {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#menu_bar01:checked ~ #links01  {
    height: 54px;
    opacity: 1;
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  //index----------------------------------------------------------------------------------------------------
  .type2 {
    display: none;
  }
  .item_index {
    float: none;
    width: 93%;
    position: relative;
    height: 307px;
  }
  .item_index_media_user {
    position: absolute;
    height: 36px;
    top: 42px;
    left: -44px;
    margin-top: 10px;
  }
  //新規投稿ボタン------------------------------------------------------------------------------
  .btn-circle-stitch {
    display: inline-block;
    text-decoration: none;
    background: #ff5722b3;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #ff5722a3;
    border: dashed 1px #FFF;
    -webkit-transition: .4s;
    transition: .4s;
    position: fixed;
    right: 18px;
    bottom: 106px;
  }
  .taist-box > .taist-index {
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px;
    margin: 30px 0px 38px 44px;
  }
  .radio_btn + label {
    display: inline-block!important;
    box-sizing: border-box!important;
    font-size: 2px!important;
    font-weight: normal!important;
    color: #888!important;
    border: solid 1px #EDBC6C!important;
    border-radius: 5px!important;
    margin-top: 10px!important;
    padding: 3px 10px!important;
    background-color: #fff!important;
    cursor: pointer!important;
    position: absolute!important;
    top: 2px!important;
    left: 7px!important;
    z-index: 10!important;
  }
  // チェックが入ったとき
  .radio_btn:checked + label {
    color: #fff!important;
    background-color: #EDBC6C!important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)!important;
  }
  .map-title-top {
    position: absolute!important;
    top: -29px!important;
    left: 73px!important;
    font-size: 14px!important;
  }
  .map-title-right {
    position: absolute!important;
    top: 89px!important;
    left: 203px!important;
    font-size: 14px!important;
  }
  .map-title-bottom {
    position: absolute!important;
    top: 205px!important;
    left: 84px!important;
    font-size: 14px!important;
  }
  .map-title-left {
    position: absolute!important;
    top: 93px!important;
    left: -60px!important;
    font-size: 12px!important;
  }
  .coffee_image_media {
    position: relative;
    top: 36px;
  }
  .coffee_opinion {
    position: absolute;
    display: block;
    margin-top: 13px;
    top: 243px;
    left: 124px;
    margin-bottom: 10px;
  }
  .item_index > .row > .item-like {
    position: absolute;
    top: 225px;
    right: 56px;
    margin-left: 0px;
    width: 81px;
  }
  .item_title_media {
    display: block;
  }
  .item_index_row1 > #item_index_new > .item_index > .row > .item_index_media_user
  > .attachment .user .profile_image .profile-img-circle {
    width: 30px;
    height: 30px;
  }
  //show-------------------------------------------------//
  .item-show-container {
    padding: 0;
  }
  .item-show-container > .row {
    margin: 0;
  }
  .item-show-container > .row ul {
    width: 100%;
  }
  .item-show-container > .row > .media_image {
    padding-left: 63px;
  }
  .center-block {
    margin-left: 0;
  }
  .text-left {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .has-rader {
    width: 100vw;
    overflow-x: hidden;
  }
  canvas {
    width: 190vw!important;
    height: 95vw!important;
    -webkit-transform: translateX(-22.5%);
       -moz-transform: translateX(-22.5%);
        -ms-transform: translateX(-22.5%);
         -o-transform: translateX(-22.5%);
            transform: translateX(-22.5%);
  }
  .input-mysize {
    width: 70vw!important;
  }
  .zone_img {
    display: none;
  }
  .item-show-container > .media_comment {
    padding: 10px;
  }
  .item-show-container > .media_rebyu {
    padding: 10px;
  }
  .profile_image.comment-image {
    margin: 0px;
    width: 30px;
    height: 30px;
  }
  .comment-submit {
    height: 50px;
  }
  .comment-box {
    width: 91vw;
  }
  .comment-date {
    bottom: 1px;
  }
  .coffee_opinion {
    display: none;
  }

}
















