// Place all the styles related to the users::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.message_box {
  padding: 10px;
  border: 1px solid black;
  overflow: scroll;
  #messages {
    height: 400px;
  }
}

div.message_form {
  padding-top: 10px;
}

#message_sender {
  font-size: 1.1em;
}

#message_content {
  font-size: 1.0em;
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  //message-------------------------------------------------//
  .col-6.content_box {
  	-webkit-box-flex: 0;
    flex: 0;
    max-width: 100%;
  }
  .offset-3.content_box {
	margin-left: 0;
  }
  .profile-img-circle.dm_prof_media {
  	margin: 0;
  	width: 30px;
  	height: 30px;
  }

  }